.social-media {
    border: 2px solid #e6e6e6;
    padding: 1rem;
}

.svg {
    width: 15px;
    height: 15px;
}

.social-media-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.social-media {
    display: flex;
    flex-direction: column;
    border: 1px solid #e6e6e6;
    padding: 1rem;
    height: 7rem;
    /* margin: .5rem; */
    margin-bottom: 0;
    border-radius: .5rem;
}

.social-media-heading-title {
    font-size: 1.2rem;
    color: #000;
    font-weight: 500;

}

.social-media-heading-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* margin-bottom: 1rem; */

}

.social-media-heading {
    display: flex;
    align-items: center;
    gap:.5rem;   
}

.social-media-item {
    display: flex;
    line-height: 1.5rem;
    margin: auto 0;
    justify-content: space-around;
    margin-top: 1rem;
}

.social-media-item-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social-media-item-svg {
    width: 25px;
    height: 25px;
}

.social-media-item-svg-edit {
    width: 15px;
    height:15px;
    color: #ff3333;
}

.social-media-item-text{
    font-size: 14px;
    color: #000;
   
}